name: Privado Scan
on: push
    
jobs:
  privado:
    runs-on: ubuntu-latest
    if: github.ref_name == github.event.repository.default_branch
    env:
      PRIVADO_API_TOKEN: ${{ secrets.PRIVADO_API_TOKEN }}
      PRIVADO_API_ID: "89B8D9D7B8C948019D856C75"
      PRIVADO_API_HOST: "https://scmtest.gcp.privado-dev.com"
      PRIVADO_CI_PLATFORM: "GITHUB_ACTIONS"
      PRIVADO_DOCKER_IMAGE: 638117407428.dkr.ecr.ap-south-1.amazonaws.com/scanner-agent:scm
      PRIVADO_REPOSITORY_ID: ${{ github.repository_id }}
      PRIVADO_REPOSITORY_NAME: ${{ github.repository }}
      PRIVADO_COMMIT_ID: ${{ github.sha }}
      PRIVADO_BRANCH_NAME: ${{ github.ref_name }}
      PRIVADO_DEFAULT_BRANCH_NAME: ${{ github.event.repository.default_branch }}
      PRIVADO_REPOSITORY_URL: ${{ github.repositoryUrl }}
    
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: "Login to docker registry"
      run: |
        curl --fail -s -H "Content-Type: application/json" -H "Authorization: Token apiff2c2df8350984b4eed876fc60b87c0a177c43c15bf7382e8d" -H "idt: apiff2c2df8350984b4eed876fc60b87c0a177c43c15bf7382e8d" -H "data-url: /ce/integrations/customers/B426BB68905009DF0503BB66/docker-registry-token" https://t.ent.code.privado.ai/ce/integrations/customers/B426BB68905009DF0503BB66/docker-registry-token?ci=true | docker login --username AWS --password-stdin $PRIVADO_DOCKER_IMAGE
    - name: Run Privado Scanner
      run: |
        env | grep "PRIVADO_" > $GITHUB_WORKSPACE/.privado.env
        docker run -t -v $GITHUB_WORKSPACE:/privado --env-file $GITHUB_WORKSPACE/.privado.env --privileged --pull=always $PRIVADO_DOCKER_IMAGE
